[loggers]
keys=root,logfile

[handlers]
keys=h_console,h_logfile_debug,h_logfile_info

[formatters]
keys=f_console,f_logfile

[logger_root]
level=NOTSET
handlers=h_console,h_logfile_debug,h_logfile_info

[logger_logfile]
level=NOTSET
handlers=h_logfile_debug,h_logfile_info
qualname='main'

[handler_h_console]
class=logging.StreamHandler
level=INFO
formatter=f_console
args=(sys.stdout,)

[handler_h_logfile_debug]
class=logging.handlers.RotatingFileHandler
level=DEBUG
formatter=f_logfile
args=('logDebug.log', 'a',1000000,1)

[handler_h_logfile_info]
class=logging.handlers.RotatingFileHandler
level=INFO
formatter=f_logfile
args=('logInfo.log', 'a',100000,1)

[formatter_f_console]
format=%(message)s
datefmt=
class=logging.Formatter

[formatter_f_logfile]
format=%(pathname)s:%(lineno)d %(asctime)s %(levelname)s %(message)s
datefmt=
class=logging.Formatter

